@media only screen and (min-width: 1024px) {
    .coder-name .strok-text{
        font-size: 82px;
    }

    .recent-projects-section .project-card .card{
        flex-direction: row;
    }
    .recent-projects-section .project-card .card .project-links{
        display: flex;
        flex-wrap:wrap;
    }
}

@media only screen and (min-width: 988px) {
    .coder-name .strok-text{
        font-size: 54px;
        line-height: normal;
    }
}
@media only screen and (min-width: 800px) {
    .coder-name .strok-text{
        font-size: 54px;
        line-height: normal;
    }

    .recent-projects-section .section-title{
        padding: 32px;
    }
    .recent-projects-section .project-card .card .tech-used .tech{
        font-size: 12px;
    }
    .recent-projects-section .project-card .card .project-links .btn{ 
        font-size: 16px;
        padding: 8px 24px;
    }
}