/* custome_font_link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color_font_variables */
:root{
    --black-color : #101010;
    --black-2: #181A1C;
    --gray-color: #262629;
    --white-color: #FFFFFF;
    --white-50-color: rgba(255, 255, 255, 0.50);
    --white-25-color: rgba(255, 255, 255, 0.25);
    --grad-color: linear-gradient(90deg, #FE7F2D, #FFBF46);
    --primary-font: 'DM Sans', sans-serif;
}

body{
    background-color: var(--black-color);
}

/* heading_class */
h1{
    font-family: var(--primary-font);
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white-color);
}
h2{
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-color);
    font-family: var(--primary-font);
}

p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white-color);
    font-family: var(--primary-font);
}

a{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--primary-font);
}
a:hover{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--primary-font);
}

.title-head{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-50-color);
}

.sub-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-color);
}

.strok-text{
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #fff;
}

.wrapper{
    padding-top: 90px;
    padding-bottom: 90px;
}
/* gradient-color-class */

.black-color{
    color: var(--black-color);
}

.black-2{
    color:var(--black-2);
}

.white-50-color{
    color: var(--white-50-color);
}

.white-25-color{
    background-color: var(--white-25-color) !important;
}

.gary-color{
    color: var(--gray-color);
}

.grad-color{
    background: var(--grad-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title{
    width: 60%;
    margin: auto;
}

/* button-class */

.btn{
    padding: 8px 32px;
    border-radius: 50px;
    color: var(--white-color);
    margin: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn:active{
    outline: none;
    offset: 0;
}
.btn-w-5{
    background-color: var(--white-50-color);
}
.btn:hover{
    border-radius: 50px;
    background: var(--grad-color);
    color: var(--white-color);
}

.btn-w{
    background-color: var(--white-color);
    color: var(--black-color);
}

/* recent-projects-section */

.recent-projects-section{
    background-color: var(--black-2);
    border-radius: 20px;
    position: relative;
}

.recent-projects-section .section-title{
    position: relative;
}

.recent-projects-section .work-carousel{
    padding-bottom: 90px;
}

/* .swiper {
    width: 100%;
    height: auto;
  } */

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    margin-top: 32px !important;
    top: 305px  !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 24px !important;
    color: var(--black-2);
    background-color: var(--white-color);
    padding: 18px;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 0.65 !important;
    border-radius: 50px;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 24px !important;
    color: var(--black-2);
    background-color: var(--white-color);
    padding: 18px;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 0.65 !important;
    border-radius: 50px;
}
.swiper-button-next{
    position: absolute !important;
    left: 75px !important;
}

.work-btn-group{
    margin: auto;
    background-color: var(--white-25-color);
    border-radius: 50px;
    padding: 0;
    width: fit-content;
}

.work-btn-group .btn{
    margin: 0;
    width: 240px;
    padding: 15px 25px !important;
    border-radius: 75px;
    font-weight: 400;
    font-family: var(--primary-font);
}

/* .work-btn-group .active-work{
    background: var(--grad-color);
} */











