/* custome_font_link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color_font_variables */
:root{
    --black-color : #101010;
    --black-2: #181A1C;
    /* --gray-color: #262629; */
    --white-color: #FFFFFF;
    --white-50-color: rgba(255, 255, 255, 0.50);
    --white-25-color: rgba(255, 255, 255, 0.25);
    --primary-color:#b7f400;
    --primary-font: 'DM Sans', sans-serif;
}

body{
    background-color: var(--black-color);
}

/* heading_class */
h1{
    font-family: var(--primary-font);
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white-color);
}
h2{
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-color);
    font-family: var(--primary-font);
}

p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white-color);
    font-family: var(--primary-font);
}

a{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--primary-font);
}
a:hover{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--primary-font);
}

.title-head{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-50-color);
}

.sub-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-color);
}

.coder-name{
    display: flex;
    justify-content: flex-start;
}

.coder-name .strok-text{
    color: var(--white-color);
    letter-spacing: 4px;
    margin: 0px;
    line-height: 128px;
}

.wrapper{
    padding-top: 124px;
    padding-bottom: 124px;
}
/* gradient-color-class */

.black-color{
    color: var(--black-color);
}

.black-2{
    color:var(--black-2);
}

.white-50-color{
    color: var(--white-50-color);
}

.white-25-color{
    background-color: var(--white-25-color) !important;
}

.gary-color{
    color: var(--gray-color);
}


.primary-color{
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title{
    margin: auto;
    padding: 64px;
}

/* button-class */

.btn{
    padding: 8px 32px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--black-2);
    margin: 10px;
    font-size: 18px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s;
}
.btn-white{
    padding: 8px 32px;
    border-radius: 50px;
    background-color: var(--white-25-color);
    border: 1px solid transparent;
    color: var(--white-color);
    margin: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s;
}

.btn:active, .btn-white:active{
    outline: none;
    offset: 0;
}
.btn:hover{
    border-radius: 50px;
    background-color: transparent;
    border-color: var(--white-color);
    color: var(--white-color);
    transition: all 0.5s;
}
.btn-white:hover{
    border-radius: 50px;
    background-color: var(--white-50-color);
    border-color: var(--white-color);
    color: var(--white-color);
    transition: all 0.5s;
}

/* .btn-w{
    background-color: var(--white-color);
    color: var(--black-color);
    transition: all 0.5s;
} */

/* recent-projects-section */

.recent-projects-section{
    background-color: var(--black-2);
    border-radius: 20px;
    position: relative;
}

.recent-projects-section .section-title{
    position: relative;
}

.recent-projects-section .project-card .card{
    background-color: transparent;
    border-color: var(--white-25-color) !important;
    transition: all 0.5s;
}

.recent-projects-section .project-card .card .project-img img{
    border-radius: 10px;
}
.recent-projects-section .project-card .card .card-title{
    font-size: 24px;
    font-weight: 700;
}

.recent-projects-section .project-card .card .tech-used .tech{
    font-size: 14px;
    font-family: var(--primary-font);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    padding: 4px 8px;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.5s;
}
.recent-projects-section .project-card .card .card-text{
    font-size: 16px;
    color: var(--white-50-color);
    font-weight: 300;
}
.work-exp-section .work-card .card{
    background-color: var(--black-2);
    padding: 12px;
    border-radius: 10px;
    font-family: var(--primary-font);
    border-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}
.work-exp-section .work-card .card:hover{
    border-color: var(--white-50-color);
}


.review-section .review-card .card{
    background-color: var(--black-2);
    font-family: var(--primary-font);
    height: auto;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s;
    box-shadow: 10px -5px 50px #000;
}

.review-section .review-card .card:hover{
    border-color: var(--white-50-color);
}
.review-section .review-card .card .card-title p{
    font-weight: 300;
    font-size: 16px;
}

.review-section .review-card .card .card-body p{
    font-weight: 300;
    font-size: 16px;
}